body {
  width: 100vw;
  height: 100vh;
  padding: 0 20px 0 20px;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
}
/* .bg {
  background-image: url("./images/card-games.jpeg");
  opacity: 0.2;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
} */

.gameContainer {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 3;
  grid-template-areas:
    "player1 warZone player2"
    ". buttons .";
}

#player1 {
  grid-area: player1;
}

#player2 {
  grid-area: player2;
}

.card {
  background-color: white;
  width: 200px;
}

.imgPlayer1Card {
  grid-area: playerDeck1;
}

.imgPlayer2Card {
  grid-area: playerDeck2;
}

.warZoneContainer {
  background: gray;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/375/040/original/modern-white-background-free-vector.jpg");
  opacity: 1;
  grid-area: warZone;
  margin: 50px;
  border: 3px solid gray;
  width: 500px;
  height: 350px;
}

.buttons {
  grid-area: buttons;
  background: transparent;
  background-color: white;
  color: whblackite;
  width: 100px;
  height: 40px;
}

.btndeal {
  display: none;
  color: red;
}
